<app-menu></app-menu>
<app-title title="Cadastro de usuário"></app-title>
<div class="flex min-h-full items-center justify-center py-5 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
        <form [formGroup]="formUser" (ngSubmit)="salvar()" class="mt-8 space-y-6" action="#" method="POST">
            <input type="hidden" name="remember" value="true">
            <div class="-space-y-px rounded-md">
                <div class="py-2">
                    <label for="email-address" class="sr-only">Nome</label>
                    <input formControlName="nome" id="email-address" name="nome" type="text" required class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm" placeholder="Nome completo">
                </div>
                <div class="py-2">
                    <label for="email-address" class="sr-only">E-mail</label>
                    <input formControlName="email" id="email-address" name="E-mail" type="text" required class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm" placeholder="E-mail">
                </div>
                <div class="py-2">
                    <label for="email-address" class="sr-only">Telefone</label>
                    <input formControlName="telefone" id="email-address" name="telefone" type="text" required class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm" placeholder="Telefone">
                </div>
                <div class="py-2">
                    <label for="email-address" class="sr-only">Departamento</label>
                    <input formControlName="setor" id="email-address" name="departamento" type="text" required class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm" placeholder="Departamento">
                </div>
                <div class="py-2">
                    <select formControlName="funcao" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-amber-500 focus:border-amber-500 outline-none block w-full p-2.5">
                    <option value="" disabled selected hidden>Escolha uma opção</option>
                    <option value="Administrador">Administrador</option>
                    </select>
                </div>
            </div>

            <div>
                <button  type="submit" class="group relative flex w-full justify-center rounded-md border border-transparent bg-amber-400 py-2 px-4 text-sm font-medium text-gray-900 hover:bg-amber-300 focus:outline-none focus:ring-2 focus:ring-amber-600 focus:ring-offset-2">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <svg class="h-5 w-5 text-yellow-600 group-hover:text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                    </svg>
                    </span>
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>

