<div class="row geral-login">
  <div class="col-12 col-md-12">
    <div class="geral-login">
      <div class="d-none d-sm-block">
        <div class="image-login">
          <img src="assets/image-login.jpeg" alt="imagem-psicodelica-3D">
        </div>
      </div>

      <div class="login-container">
          <div class="titles">
              <h1>Entrar</h1>
              <h2>Conecte-se no sistema</h2>
          </div>

          <form [formGroup]="formLogin" class="example-form" (ngSubmit)="salvar()">
              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>E-mail</mat-label>
                  <input matInput placeholder="Ex. email@email.com" formControlName="email">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Ex. password" type="password" formControlName="password">
              </mat-form-field>
              <p>Esqueceu sua senha?</p>
              <div class="buttons">
                <button type="submit" mat-flat-button color="accent">Entrar</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

