<app-menu></app-menu>
<app-title title="Cadastro Item"></app-title>
<div class="container-perfil card-shadow">
    <h2>Novo Item</h2>
    <div class="info-pessoais">
        <form [formGroup]="formItem" (ngSubmit)="salvar()" class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome do item</mat-label>
                <input matInput formControlName="nomeItem">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Categoria</mat-label>
                <input matInput formControlName="categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Setor</mat-label>
                <input matInput formControlName="setor">
            </mat-form-field>

            <div class="buttons">
              <button mat-flat-button color="accent">Salvar</button>
              <button mat-stroked-button [routerLink]="['/']">Cancelar</button>
          </div>
        </form>
    </div>
</div>
