.container-perfil {
    background-color: #fff;

    width: 126.9rem;
    height: auto;
    
    border-radius: 1.5rem;

    margin: 5rem auto;

    padding: 2.5rem 2rem;
}
.container-perfil h2 {
    color: #262626;

    font-size: 3rem;
    font-weight: 400;
    line-height: 100%;

    text-align: center;
    
    margin-block: 3rem;
}
.info-pessoais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}
.example-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mat-form-field {
    width: 50rem;
}
.mat-form-field textarea {
    font-size: 2rem;
}
.buttons {
    margin-top: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33rem;
}