<app-menu></app-menu>
<app-title title="Controle de itens"></app-title>

<div>

  <div class="p-10 flex flex-wrap justify-center gap-5 lg:gap-40 lg:flex-row">
    <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Envio de formulário</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700">Cadastre um e-mail para receber um fornulário de rádio.</p>
      <button (click)="addEmail()" type="button" class="group relative flex w-full justify-center rounded-md border border-transparent bg-amber-400 py-2 px-4 text-sm font-medium text-gray-900 hover:bg-amber-300 focus:outline-none focus:ring-2 focus:ring-amber-600 focus:ring-offset-2">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
        </span>
        Adicionar e-mail
      </button>

      <div *ngIf="hidden">
        <div class="py-8">
          <form [formGroup]="formRadio">
            <label for="email-address" class="sr-only">E-mail</label>
            <input formControlName="email" id="email-address" name="E-mail" type="email" required class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm" placeholder="E-mail">
          </form>
        </div>
        <div class="flex gap-36">
          <button  (click)="enviarEmail()" type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700">Enviar</button>
          <button (click)="cancelar()" type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Cancelar</button>
        </div>

      </div>
    </div>

    <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Cadastro manual</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700">Cadastre você mesmo um colaborador para utilizar um rádio.</p>
      <button [routerLink]="['/cadastro/radio']" type="button" class="group relative flex w-full justify-center rounded-md border border-transparent bg-amber-400 py-2 px-4 text-sm font-medium text-gray-900 hover:bg-amber-300 focus:outline-none focus:ring-2 focus:ring-amber-600 focus:ring-offset-2">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
        </span>
        Ir para o formulário
      </button>
    </div>
  </div>


<div class="overflow-x-auto p-20 relative sm:rounded-lg">
  <table class="w-full shadow-md  rounded text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
              <th scope="col" class="py-3 px-6">
                  No. Rádio
              </th>
              <th scope="col" class="py-3 px-6">
                  Nome
              </th>
              <th scope="col" class="py-3 px-6">
                  Departamento
              </th>
              <th scope="col" class="py-3 px-6">
                  Status
              </th>
              <th scope="col" class="py-3 px-6">
                Ação
              </th>
          </tr>
      </thead>
      <tbody *ngFor="let radio of radios">
          <tr class="bg-white border-b">
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                  {{ radio.radioNumber}}
              </th>
              <td class="py-4 px-6">
                  {{ radio.name }}
              </td>
              <td class="py-4 px-6">
                  {{ radio.department }}
              </td>
              <td *ngIf="radio.status == 1" class="py-4 px-6">
                  Em uso
              </td>
              <td *ngIf="radio.status == 2" class="py-4 px-6">
                Devolvido
              </td>
              <td *ngIf="radio.status == 3" class="py-4 px-6">
                Perdido
              </td>
              <td class="py-4 px-6">
                  <button (click)="openClose(radio.id)" class="font-medium cursor-pointer text-gray-900 hover:underline">Editar</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<!-- MODAL -->
<div *ngIf="modal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="w-80 m-auto flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg font-medium  text-gray-900" id="modal-title">Alterar status</h3>
              <div class="mt-2">
                <form [formGroup]="formStatus">
                  <select formControlName="status" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-60 p-2.5">
                    <option value="" disabled selected hidden>Escolha uma opção</option>
                    <option value=1>Em uso</option>
                    <option value=2>Devolvido</option>
                    <option value=3>Perdido</option>
                  </select>
                </form>

              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 flex gap-20 sm:flex sm:flex-row-reverse sm:px-6">
          <button (click)="salvar()" type="button" class="focus:outline-none text-gray-900 bg-amber-400 hover:bg-amber-300 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Salvar</button>
          <button (click)="openClose(null)" type="button" class="focus:outline-none text-gray-900 border border-gray-300 bg-white hover:bg-gray-200 focus:ring-4 focus:ring-gray-500 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>


</div>


