<app-menu></app-menu>
<app-title title="Controle de itens"></app-title>

<div>

  <div class="p-10 flex flex-wrap justify-center gap-5 lg:gap-40 lg:flex-row">
    <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Envio de formulário</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700">Cadastre um e-mail para receber um fornulário de rádio.</p>
      <button (click)="addEmail()" class=" cursor-pointer inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Adicionar e-mail
      </button>
      <div *ngIf="hidden">
        <div class="py-2">
            <label for="email-address" class="sr-only">E-mail</label>
            <input id="email-address" name="E-mail" type="text" required class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-amber-500 focus:outline-none focus:ring-amber-500 sm:text-sm" placeholder="E-mail">
        </div>
        <button (click)="enviarEmail()">Enviar</button>
        <button (click)="cancelar()">Cancelar</button>
      </div>
    </div>

    <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Cadastro manual</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700">Cadastre você mesmo um colaborador para utilizar um rádio.</p>
      <a [routerLink]="['/cadastro/radio']" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Ir para o formulário
      </a>
    </div>
  </div>


<div class="overflow-x-auto p-20 relative sm:rounded-lg">
  <table class="w-full shadow-md  rounded text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
              <th scope="col" class="py-3 px-6">
                  No.
              </th>
              <th scope="col" class="py-3 px-6">
                  Item
              </th>
              <th scope="col" class="py-3 px-6">
                  Nome
              </th>
              <th scope="col" class="py-3 px-6">
                  Status
              </th>
              <th scope="col" class="py-3 px-6">
                Ação
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b">
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                  1
              </th>
              <td class="py-4 px-6">
                  Rádio
              </td>
              <td class="py-4 px-6">
                  Samantha
              </td>
              <td class="py-4 px-6">
                  Em uso
              </td>
              <td class="py-4 px-6">
                  <button class="font-medium cursor-pointer text-gray-900 hover:underline">Editar</button>
              </td>
          </tr>
          <tr class="bg-white border-b">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                1
            </th>
            <td class="py-4 px-6">
                Rádio
            </td>
            <td class="py-4 px-6">
                Samantha
            </td>
            <td class="py-4 px-6">
                Em uso
            </td>
            <td class="py-4 px-6">
                <button class="font-medium cursor-pointer text-gray-900 hover:underline">Editar</button>
            </td>
          </tr>
          <tr class="bg-white border-b">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                1
            </th>
            <td class="py-4 px-6">
                Rádio
            </td>
            <td class="py-4 px-6">
                Samantha
            </td>
            <td class="py-4 px-6">
                Em uso
            </td>
            <td class="py-4 px-6">
                <button class="font-medium cursor-pointer text-gray-900 hover:underline">Editar</button>
            </td>
          </tr>
          <tr class="bg-white border-b">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                1
            </th>
            <td class="py-4 px-6">
                Rádio
            </td>
            <td class="py-4 px-6">
                Samantha
            </td>
            <td class="py-4 px-6">
                Em uso
            </td>
            <td class="py-4 px-6">
                <button class="font-medium cursor-pointer text-gray-900 hover:underline">Editar</button>
            </td>
          </tr>
          <tr class="bg-white border-b">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                1
            </th>
            <td class="py-4 px-6">
                Rádio
            </td>
            <td class="py-4 px-6">
                Samantha
            </td>
            <td class="py-4 px-6">
                Em uso
            </td>
            <td class="py-4 px-6">
                <button class="font-medium cursor-pointer text-gray-900 hover:underline">Editar</button>
            </td>
          </tr>

      </tbody>
  </table>
</div>

</div>


