@tailwind base;
@tailwind components;
@tailwind utilities;


.snackBarSucesso, .mat-label {
    color: black;
    background: #22c55e;
    opacity: 1;
}

.snackBarErro, .mat-label {
    color: black;
    background: #ef4444;
}
.snackBarAtencao  {
    color: black;
    background: #fbbf24;
}

