<div class="password-container">
    <div class="titles">
        <h2>Cadastre uma senha</h2>
    </div>

    <form [formGroup]="formPassword" (ngSubmit)="salvar()" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirme a senha</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
        </mat-form-field>

        <div class="buttons">
          <button type="submit" mat-flat-button color="accent">Salvar</button>
      </div>
    </form>

</div>
