.password-container {
    background-color: #fff;

    width: 50rem;
    height: auto;
    
    border-radius: 1.5rem;

    margin: 25rem auto;

    padding:2rem;
}
.password-container h2 {
    color: #262626;

    font-size: 3rem;
    font-weight: 400;
    line-height: 100%;

    text-align: center;
    
    margin-block: 3rem;
}
.example-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mat-form-field {
    width: 30rem;
}
.buttons {
    margin-top: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33rem;
}