<div class="menu">
    <div class="conteudo-menu">
        <li><img src="assets/home.svg" alt="icon-home"><a [routerLink]="['/']">Painel</a></li>
        <li><img src="assets/list-1.svg" alt="icon-list"><a [routerLink]="['/controle/itens']">Controle Itens</a></li>
        <button mat-button [matMenuTriggerFor]="menu"><img src="assets/list-2.svg" alt="icon-home"><a>Cadastro</a></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/cadastro/usuario']">Cadastrar usuário</button>
            <button mat-menu-item [routerLink]="['/cadastro/projeto']">Cadastrar projeto</button>
            <button mat-menu-item [routerLink]="['/cadastro/item']">Cadastrar item</button>
        </mat-menu>
        <li><img src="assets/conf.svg" alt="icon-home"><a>Configuração</a></li>
    </div>
    <div class="user">
        <button [routerLink]="['/perfil']">
            <img src="assets/user.png" alt="imagem-person">
            <p>{{ username }}</p>
            <img src="assets/lapis.svg" alt="icone-editar">
        </button>

    </div>
</div>

